<!doctype html>
<html lang="en">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<head>
  <title>Hello Azure - Python Quickstart</title>
  <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', path='favicon.ico') }}">
</head>
<html>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', path='images/ds.jpg') }}" alt="Diether Samaey"
        height="500" />
      <a href="./docs"><h1 class="display-6 fw-bold text-primary">Diether Samaey CV API</h1></a>
    </div>
  </main>
</body>

</html>